<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="Navbar">

        <tr>
            
                <td >
                    <div class="btnnavbar">
                        <img class="login" src="./assets/Imagenes/LogoIN.png">                 
                      <h3 class="Titulo">WILSON ANTONIO</h3>  

                    </div>
                     
                </td>
                <td >
                    <div class="LogoMarvel">
                        <img class="Marvel" src="./assets/Imagenes/Marvel-Comics-logo.png">

                    </div>
                    
                </td>

                <td >
                    <div class="btnnavbar">
                    <img  class="Subscribe" src="./assets/Imagenes/icon-mu-shield.png">
                    <h3 class="Subscribe2">MARVEL UNLIMITED <br>SUBSCRIBE </h3>

                    </div>
                    

                </td>
                <td>
                    <img  class="Search" src="./assets/Iconos/Search.png">
                </td>
                


            
        </tr>





    </div>  
    <div class="Navbar2">
        <a href="" class="td">NEWS</a>
        <a href="" class="td">COMICS</a>
        <a href="" class="td">CHARACTERS</a>
        <a href="" class="td">MOVIES</a>
        <a href="" class="td">TV SHOWS</a>
        <a href="" class="td">GAMES</a>
        <a href="" class="td">VIDEOS</a>
        <a href="" class="td">MORE</a>     
      
       
    </div>
   





</body>

</html>