<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="showcase" >
        <img src="./assets/Imagenes/Hank_Pym.jpeg" class="background" linear-gradient="(to right, red , blue)"/>
    </div>
    <div class="boton">
        <tr>
          <td>
            <div class="bordesito" >
              OVERVIEW
            </div>
          </td>
          <td>
            <div class="bordesito">

                IN COMICS PROFILE

            </div>
           
          </td>
          <td>
            <div class="bordesito">

                IN COMICS FULL REPORT

            </div>
           
          </td>
        </tr>
      </div>
      <div class="texto">
            HENRY JONATHAN PYM
      </div>
      <div class="texto2">
        HANK PYM
       </div>

       <div class="Descripcion">
        Dr. Henry "Hank" Pym, the creator of the wondrous Pym Particles, has been a 
        crimefighting hero, brilliant inventor, and fearless explorer.
       </div>




</body>

</html>